<div class="common_page_wrapper" data-aos="fade-in" data-aos-duration="3000">
    <!--- data-aos="fade-in" data-aos-duration="3000" -->

    <table>
        <thead>
            <th>Project Name</th>
            <th>Manager</th>
            <th>Co-ordinator</th>
            <th>Client</th>
            <th>Client Name</th>
            <th>Technology</th>
            <th>Date</th>
            <th>Time</th>
            <th>Development Link</th>
        </thead>
        <tbody>
            <td>Creatbererd</td>
            <td>Soumo Banerjee</td>
            <td>Avoy Debnath</td>
            <td>USA</td>
            <td>Allan</td>
            <td>HTML, Wordpress</td>
            <td>20/12/2020</td>
            <td>12:00AM</td>
            <td><a href="#">Link</a></td>
        </tbody>
    </table>

    <br><br><br><br>


    <table>
        <thead>
            <th>Project Name</th>
            <th>Manager</th>
            <th>Co-ordinator</th>
            <th>Client</th>
            <th>Technology</th>
            <th>Date</th>
            <th>Time</th>
            <th>Development Link</th>
        </thead>
    </table>


    <div style="height: 2200px;"></div>
</div>